{{/* YourOnly.One: THIS SHOWS IN ARCHIVES */}}
{{- $datetimeformat := i18n "datetimeformat" -}}
<article class="h-entry">
    <a href="{{ .RelPermalink }}" class="u-url" rel="bookmark">
        <div class="article-details">
            <h2 class="p-name article-title">
                {{- .Title -}}
            </h2>
            <footer class="article-time">
                {{/* YourOnly.One: changed */}}
                {{ if not .PublishDate.IsZero }}<time datetime="{{ .PublishDate.UTC.Format "2006-01-02T15:04:05Z07:00" }}" class="dt-published">{{ time.Format $datetimeformat .PublishDate }}</time>{{ end }}
            </footer>
        </div>

        {{- $image := partialCached "helper/image" (dict "Context" . "Type" "articleList") .RelPermalink "articleList" -}}
        {{- /* YourOnly.One: changed
            {{ if $image.exists }}
                <div class="article-image">
                    {{ if $image.resource }}
                        {{- $Permalink := $image.resource.RelPermalink -}}
                        {{- $Width := $image.resource.Width -}}
                        {{- $Height := $image.resource.Height -}}

                        {{- if (default true .Page.Site.Params.imageProcessing.cover.enabled) -}}
                            {{- $thumbnail := $image.resource.Fill "120x120" -}}
                            {{- $Permalink = $thumbnail.RelPermalink -}}
                            {{- $Width = $thumbnail.Width -}}
                            {{- $Height = $thumbnail.Height -}}
                        {{- end -}}

                        <img src="{{ $Permalink }}"
                            width="{{ $Width }}"
                            height="{{ $Height }}"
                            alt="{{ .Title }}"
                            loading="lazy" />
                    {{ else }}
                        <img src="{{ $image.permalink }}" loading="lazy" alt="Featured image of post {{ .Title }}" />
                    {{ end }}
                </div>
            {{ end }}
        */ -}}

        {{ $title := .Title }}
        {{ with .Params.images }}
            <div class="e-content article-image">
                <img src="{{ index . 0 | absURL }}" loading="lazy" alt="Featured image of post {{ $title }}" class="u-featured" />
            </div>
        {{ end }}
    </a>
</article>