<section class="widget archives">
    {{- /*
    <div class="widget-icon">
        {{ partial "helper/icon" "hash" }}
    </div>
    <h2 class="widget-title section-title">{{ T "article.tableOfContents" }}</h2>
    */ -}}

    <div class="widget--toc">
        {{- /* BGN: YourOnly.One Content-PartOf */ -}}
            {{- $partofseries := $.Site.RegularPages.RelatedIndices . "series" -}}
            {{- with $partofseries -}}
                <aside class="partofseries">
                    <p>
                        {{ i18n "partofseries" }} {{ range ( $.GetTerms "series" ) }}<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>{{ end }}
                    </p>
                    <ul>
                        {{ range .Reverse }}<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>{{ end }}
                    </ul>
                </aside>
            {{- end -}}
        {{- /* END: YourOnly.One Content-PartOf */ -}}
    </div>
</section>
