body {
  font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
}
pre {
  font-family: var(--font-mono-yelosan, monospace);
}
code, kbd, samp {
  font-family: var(--font-mono-yelosan, monospace);
}
.article-content {
  font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
}

.article-content code {
  font-family: var(--font-mono-yelosan, monospace);
}
.article-content pre {
  font-family: var(--font-mono-yelosan, monospace);
}

#webmentions {
  color: var(--card-text-color-main);
}
