{{- $datetimeformat := i18n "datetimeformat" -}}
<div class="article-details">
    {{ if .Params.categories }}
    <header class="article-category">
        {{ range (.GetTerms "categories") }}
            <a href="{{ .RelPermalink }}" {{ with .Params.style }}style="background-color: {{ .background }}; color: {{ .color }};"{{ end }} class="p-category" rel="category">
                {{ .LinkTitle }}
            </a>
        {{ end }}
    </header>
    {{ end }}

    <div class="article-title-wrapper">
        <h2 class="p-name article-title">
            <a href="{{ .RelPermalink }}" class="u-url" rel="bookmark">
                {{- .Title -}}
            </a>
        </h2>

        {{ with .Params.description }}
        <h3 class="p-summary article-subtitle">
            {{ . }}
        </h3>
        {{ end }}
    </div>

    {{ if or (not .PublishDate.IsZero) (.Site.Params.article.readingTime) }}
    <footer class="article-time">
        {{ if not .PublishDate.IsZero }}
            <div>
                {{ partial "helper/icon" "date" }}
                {{/* YourOnly.one: changed */}}
                {{ if not .PublishDate.IsZero }}<time datetime="{{ .PublishDate.UTC.Format "2006-01-02T15:04:05Z07:00" }}" class="dt-published article-time--published">{{ time.Format $datetimeformat (.PublishDate.UTC.Add (time.ParseDuration $.Site.Language.Params.tzOffset)) }} <abbr{{ with $.Site.Language.Params.tzAbbrTitle }} title="{{ printf "%s" . }}"{{ end }}>{{ $.Site.Language.Params.tzAbbr }}</abbr></time>{{ end }}
            </div>
        {{ end }}

        {{ if .Site.Params.article.readingTime }}
            <div>
                {{ partial "helper/icon" "clock" }}
                <time class="article-time--reading">
                    {{ T "article.readingTime" .ReadingTime }}
                </time>
            </div>
        {{ end }}
    </footer>
    {{ end }}

    {{ if .IsTranslated }}
        <footer class="article-translations">
            {{ partial "helper/icon" "language" }}
            <div>
                {{ range .Translations }}
                    <a href="{{ .Permalink }}" class="link">{{ .Language.LanguageName }}</a>
                {{ end }}
            </div>
        </footer>
    {{ end }}
</div>